In [25]:
import pandas as pd

In [26]:
genre_names = pd.read_csv('films-dataset/categories.csv', sep='|', header=None)
genre_names

              0   1
0       unknown   0
1        Action   1
2     Adventure   2
3     Animation   3
4    Children's   4
5        Comedy   5
6         Crime   6
7   Documentary   7
8         Drama   8
9       Fantasy   9
10    Film-Noir  10
11       Horror  11
12      Musical  12
13      Mystery  13
14      Romance  14
15       Sci-Fi  15
16     Thriller  16
17          War  17
18      Western  18

In [30]:
genre = genre_names[0].values
genre

array(['unknown', 'Action', 'Adventure', 'Animation', "Children's",
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western'], dtype=object)

In [43]:
df_column_names = ['title', 'release_date', 'video_release_date', 'IMDb_URL'] + list(genre)
df_column_names

['title',
 'release_date',
 'video_release_date',
 'IMDb_URL',
 'unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [44]:
len(df_column_names)

23

In [46]:
df_films = pd.read_csv('films-dataset/films.csv', sep='|', names=df_column_names)
df_films.head()

,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [47]:
df_films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 1 to 1682
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               1682 non-null   object
 1   release_date        1681 non-null   object
 2   video_release_date  0 non-null      float64
 3   IMDb_URL            1679 non-null   object
 4   unknown             1682 non-null   int64
 5   Action              1682 non-null   int64
 6   Adventure           1682 non-null   int64
 7   Animation           1682 non-null   int64
 8   Children's          1682 non-null   int64
 9   Comedy              1682 non-null   int64
 10  Crime               1682 non-null   int64
 11  Documentary         1682 non-null   int64
 12  Drama               1682 non-null   int64
 13  Fantasy             1682 non-null   int64
 14  Film-Noir           1682 non-null   int64
 15  Horror              1682 non-null   int64
 16  Musical             1682 non-null   int64
 17  Mystery             1682 non-null   int64
 18  Romance             1682 non-null   int64
 19  Sci-Fi              1682 non-null   int64
 20  Thriller            1682 non-null   int64
 21  War                 1682 non-null   int64
 22  Western             1682 non-null   int64
dtypes: float64(1), int64(19), object(3)
memory usage: 315.4+ KB